*.pyc
node_modules/*
*.swp
lib/*
!lib/__init___.py
*.DS_Store
.DS_Store
*.pyc
dist/*
secrets.py
src/js/constants/client_secrets.js
client_secret.json
settings/*.json
env/*
bin/*
include/*
.Python
client_secret.json
.coverage
