# Install with pip install -t lib -r requirements.txt (into lib/)
beautifulsoup4
GoogleAppEngineCloudStorageClient==1.9.22.1
evernote==1.25.2
oauth2client
google-cloud-bigquery==0.23.0
google_api_python_client==1.5.1